<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Login Page</h1>

    <form class="" action="/authenticate" method="POST">
      <input type="text" name="userName" value="" placeholder='Username'>

      <input type="password" name="password" value="">
      <input type="submit" name="" value="">
    </form>
  </body>
</html>
